doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='assets/new_splash.css')
    script(src='https://www.google.com/recaptcha/api.js')
  body
    .container
      img.logo(src='assets/logo.svg')
      p
        | Triangle Designers is a resource for digital and print designers
        | throughout North Carolina’s Triangle to connect and inspire one
        | another.
      p.stats
        span.active #{active}
        |  online now of 
        span.total #{total}
        |  registered.
      form#invite
        label(for='email') Email
        input(type='email' id='email' name='email' placeholder='email@example.com' autofocus='autofocus')
        .coc
          label.inline-checkbox
            input(type='checkbox' name='coc' value='1')
            |  I agree to the
            |
            a(href='https://github.com/TriangleDesigners/handbook/blob/master/CODE-OF-CONDUCT.md' target='_blank') code of conduct
            | .
        button Join the Slack community
      p.signin
        a(href='https://tridesign.slack.com' target='_top') or sign in

script.
  data = {};
  data.path = "/";
script(src='https://cdn.socket.io/socket.io-1.4.4.js')
script(src='/assets/superagent.js')
script(src='/assets/client.js')
