html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="assets/test.css")
  body
    img(src='assets/logo.svg')
    main
      .media
        img(src='assets/slack.svg')
        .media-body
          h2 Join the Slack community
          p
            | Triangle Design is a resource to connect and inspire digital and print
            | designers throughout North Carolina&rsquo;s Triangle.
          form
            input(type="email" placeholder="email@example.com")
            button Join
